<div class="row" id="the-wall">
  <div class="large-4 medium-5 small-12 large-offset-1 medium-offset-1 column">
    <%= render "loginform" %>
  </div>
  <div class="large-5 medium-5 small-12 column" id="rf-container">
    <%= render "registerform" %>
  </div>
</div>
