// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white-msc: #FFFFFF;
$gray-msc: #D8CDD0;
$lightgray-msc: #999999;
$blue-msc: #01ABC7;
$black-msc: #4C4C4C;

//---------------- header colors ------------------
$graay:#CBCBCB;
$bluehover: #01ABC7;
$ocher: #F16323;
$yallow: #F9C317;
$notblack: #4C4C4C;
$lightgrey: #7f7f7f;
//------------- end of header colors --------------

//-----------------media queries-------------------
$bp-778: 778px; //Ipad
$bp-414: 414px; //iPhone6+
$bp-375: 375px; //iPhone6
$bp-360: 360px; //360x640 Nominal S6
$bp-320: 320px; //320x568
//-----------------//media queries-----------------



body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
}

body {
  background-image: image-url("home.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // @media screen and (max-width: $bp-320){
  //   background-size: 250%;
  //   background-attachment: fixed;
  //   background-position-x: -460px;
  //   background-position-y: 0px;
  // }

  // @media screen and (max-width: $bp-360){
  //   background-size: 250%;
  //   background-attachment: fixed;
  //   background-position-x: -460px;
  //   background-position-y: 0px;
  // }

  @media screen and (max-width: $bp-778) {
    background-size: 140%;
    background-position-x: -240px;
  }

  @media screen and (max-width: $bp-414) {
    background-size: 250%;
    background-attachment: fixed;
    background-position-x: -510px;
    background-position-y: 0px;
  }

  @media screen and (max-width: $bp-375){
    background-size: 250%;
    background-attachment: fixed;
    background-position-x: -460px;
    background-position-y: 0px;
  }
}


.background-snd {
  background-image: image-url("pattern.png");
  background-repeat: repeat-x repeat-y;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}


#the-wall {
  position: relative;
  @media screen and (max-width: $bp-414) {
    padding-right: 7%;
    padding-left: 7%;
  }
  @media screen and (max-width: $bp-360) {
    padding-left: 5%;
    padding-right: 5%;
  }
}



.formbox {
  .form-field {
    .field {
      font-style: italic;
    }
  }
}

#login-form {
  background-color: $blue-msc;
  color: white;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 90%;
  box-shadow: 6px 6px 5px $black-msc;
  @media screen and (max-width: $bp-414) {
    margin-top: 40%;
  }

  @media screen and (max-width: $bp-375) {
    margin-top: 45%;
  }

  @media screen and (max-width: $bp-360) {
    margin-top: 39%;
  }

  @media screen and (max-width: $bp-320){
    margin-top: 30%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .title-bold {
    font-size: 1.6em;
  }

  #button-container {
    font-weight: bold;
    #remember-label {
      color: white;
    }
    #login-button {
      float: right;
      background-color: $blue-msc;
      color: white;
      padding-right: 5%;
      padding-left: 5%;
      padding-bottom: 1%;
      padding-top: 1%;
      border: 0;
      &:hover {
        background-color: $white-msc;
        color: $blue-msc;
      }
    }
  }
  #recover-container {
    font-size: 0.8em;
    text-align: center;
  }
  #pass-recover {
    color: white;
  }
}

.decoration-spd {
  background-color: white;
  height: 6px;
  width: 90%;
  @media screen and (max-width: $bp-320) {
    width: 75%;
    margin-left: 3%;
  }
}

#rf-container {
  margin-right: 10%;
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
  @media screen and (max-width: $bp-414) {
    position: inherit;
    width: 100%;
    margin-right: 0%;
    margin-bottom: 70%;
  }

  @media screen and (max-width: $bp-375) {
    position: inherit;
    width: 100%;
    margin-right: 0%;
    margin-bottom: 30%;
  }

  @media screen and (max-width: $bp-360) {
    position: inherit;
    margin-top: 5%;

  }

  @media screen and (max-width: 320px){
    // position: inherit;
    // width: 100%;
    padding-left: 6%;
    padding-right: 6%;
  }

}

#register {
  background-color: $white-msc;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 15%;
  box-shadow: 6px 6px 5px $black-msc;
  width: 85%;
  float: right;
  @media screen and (max-width: $bp-778) {
    width: 100%;
  }

  @media screen and (max-width: $bp-414) {
    width: 100%;
    margin-top: 25%;
  }

  @media screen and (max-width: $bp-375) {
    width: 100%;
  }

  .title-bold {
    color: $blue-msc;
    font-weight: bold;
    margin-bottom: 5%;
  }

  .form-field {
    font-style: italic;
    input {
      border: 1px solid $blue-msc;
      margin-bottom: 3% !important;
    }
    .form-error {
      display: block !important;
    }
  }

  .password-field {
    input {
      margin-bottom: 3% !important;
    }
    .form-error {
      //margin-top: 2%;
    }
  }

  .confirmation-field {
    //margin-top: 5%;
  }

  #button-container {
    text-align: right;
    #register-button {
      padding-left: 6%;
      padding-right: 6%;
      color: white;
      background-color: $blue-msc;
      border: none;
      padding-top: 2%;
      padding-bottom: 2%;
      &:hover {
        color: $blue-msc;
        background-color: white;
      }
    }
  }
}

.decoration-ha {
  height: 6px;
  width: 70%;
  background-color: $blue-msc;
  float: right;
}
